.container {
    white-space: nowrap;
    overflow-x: hidden;
}

.bullet {
    border-radius: 50%;
    position: absolute;
    width: 6px;
    height: 6px;
    animation: fireball 0.5s infinite;
}

@keyframes fireball {
    0%, 66% {
        background-color: #f1ea0a;
    }
    33%, 100% {
        background-color: #df0606;
    }
}

div #ship {
    position: absolute;
}

img {
    overflow: scroll;
}