div #ship {
    position: absolute;
}

body {
    overflow: hidden;
}

div #gamefield {
    width: 480px;
    height: 640px;
    margin: auto;
    border: 4px solid red;
    background-color: #000000;
}

img {
    overflow: scroll;
}

.bullet {
    border-radius: 50%;
    position: absolute;
    width: 4px;
    height: 4px;
    animation: fireball 0.5s infinite;
}

@keyframes fireball {
    0%, 66% {
        background-color: #f1ea0a;
    }
    33%, 100% {
        background-color: #df0606;
    }
}