@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
div #ship {
    position: absolute;
}

body {
    overflow: hidden;
    font-family: 'Press Start 2P', cursive;
}

div #menu_screen {
    animation: blinker 0.5s infinite;
    text-align: center;
    font-size: 100%;
    margin-top: 100px;
}

div #info {
    position: absolute;
    margin-left: 2em;
    margin-top: 0.5em;
}

#lifes {
    position: absolute;
    display: inline;
    left: 12em;
    width: 8em;
}

#lifes .life {
    position: relative;
    margin-left: 5%;
    display: inline-block;
    background-image: url('./assets/sprites/life_indicator.png');
    background-repeat: no-repeat;
    width: 32px;
    height: 16px;
}

#score {
    display: inline;
}

div #progress {
    position: relative;
    margin: auto;
    top: 94%;
    width: 80%;
    height: 3%;
    border: 2px solid greenyellow;
    opacity: 0;
}

div #bar {
    position: relative;
    background-color: rgb(218, 82, 82);
    height: 100%;
}

#gamefield {
    background-color: black;
    width: 600px;
    height: 430px;
    margin: auto;
    color: azure;
    position: relative;
    clip-path: inset(1% 1% 1% 1%);
}

img {
    overflow: scroll;
}

.enemy {
    position: absolute;
}

div .decal {
    position: absolute;
    width: 32px;
    height: 32px;
    animation: splash 0.6s infinite;
}
.hidden {
    display:none;
}

div .footer {
    position: absolute;
    bottom: 24%;
    width:50%;
    margin-left: 51%;
    text-align: center;
    font-size: 75%;
}
.scoretable {
    width: 98%; 
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
    font-size: 80%;
    align: right;
}

div #ship_decal {
    position: absolute;
    width: 64px;
    height: 32px;
    animation: explode 0.6s infinite;
}

div .enemy.comet {
    position: absolute;
    width: 32px;
    height: 22px;
    animation: comet 0.3s infinite;
}

div .enemy.cruiser {
    width: 30px;
    height: 30px;
    background-image: url('./assets/sprites/cruiser.png');
}

div .enemy.fighter {
    width: 24px;
    height: 14px;
    background-image: url('./assets/sprites/UFO.png');
}

.bullet {
    /* border-radius: 50%; */
    position: absolute;
    width: 6px;
    height: 2px;
    animation: fireball 0.5s infinite;
}

@keyframes blinker {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0.5;
    }
    50% {
        opacity: 0.25;
    }
    75% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fireball {
    0%, 66% {
        background-color: #f1ea0a;
    }
    33%, 100% {
        background-color: #df0606;
    }
}

@keyframes comet {
    0% {
        background-image: url('./assets/sprites/comet_mod1.png')
    }
    33% {
        background-image: url('./assets/sprites/comet_mod2.png')
    }
    66% {
        background-image: url('./assets/sprites/comet_mod3.png')
    }
    100% {
        background-image: url('./assets/sprites/comet_mod4.png')
    }
}

@keyframes explode {
    0% {
        background-image: url('./assets/sprites/ship_splash1.png')
    }
    33% {
        background-image: url('./assets/sprites/ship_splash2.png')
    }
    66% {
        background-image: url('./assets/sprites/ship_splash3.png')
    }
    100% {
        background-image: url('./assets/sprites/ship_splash4.png')
    }
}

@keyframes splash {
    0% {
        background-image: url('./assets/sprites/splash1.png')
    }
    33% {
        background-image: url('./assets/sprites/splash2.png')
    }
    66% {
        background-image: url('./assets/sprites/splash3.png')
    }
    100% {
        background-image: url('./assets/sprites/splash4.png')
    }
}

@keyframes star_move {
    from {
        left: 0;
        top: 0;
    }
    to {
        left: -10000px;
        top: -2000px;
    }
}

#background {
    background: url('./assets/background.png') repeat 5% 5%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -300;
    animation-name: star_move;
    animation-duration: 200s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#midground {
    background: url('./assets/midground.png') repeat 20% 20%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -200;
    animation-name: star_move;
    animation-duration: 150s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#foreground {
    background: url('./assets/foreground.png') repeat 35% 35%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -100;
    animation-name: star_move;
    animation-duration: 100s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}